<a href="https://colab.research.google.com/github/qkrwjdduf159/job-market/blob/master/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 관련자료

참고자료 : https://www.etoday.co.kr/news/view/2082566

## 데이터 분석에 들어가기 전에 생각해야 할 부분

- 각 데이터마다 특성이 있다.
- 지금 해야할 부분은 이러한 특성을 가진 설문조사를 한 사람이 컨텐츠를 사용할 것인가?

- 각 코드들이 무엇을 뜻하는지 알 수는 없다.
- 세분류, 소분류, 중분류, 대분류를 어떻게 처리할 것인가?

In [75]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [76]:
# 데이터 불러오기
train = pd.read_csv('/content/drive/MyDrive/데이콘/잡케어 추천 알고리즘/Data/train.csv')
test = pd.read_csv('/content/drive/MyDrive/데이콘/잡케어 추천 알고리즘/Data/test.csv')

D_code = pd.read_csv('/content/drive/MyDrive/데이콘/잡케어 추천 알고리즘/Data/속성_D_코드.csv', index_col = 0).T.to_dict()
H_code = pd.read_csv('/content/drive/MyDrive/데이콘/잡케어 추천 알고리즘/Data/속성_H_코드.csv', index_col = 0).T.to_dict()
L_code = pd.read_csv('/content/drive/MyDrive/데이콘/잡케어 추천 알고리즘/Data/속성_L_코드.csv', index_col = 0).T.to_dict()

In [ ]:
# 이렇게 사용할 수 있는 부분은 배워가도록 하자~
D_code

In [78]:
train.head()

   id  d_l_match_yn  d_m_match_yn  ...  contents_rn     contents_open_dt  target
0   0          True          True  ...       354805  2020-01-17 12:09:36       1
1   1         False         False  ...       346213  2020-06-18 17:48:52       0
2   2         False         False  ...       206408  2020-07-08 20:00:10       0
3   3         False         False  ...       572323  2020-01-13 18:09:34       0
4   4          True          True  ...       573899  2020-03-09 20:39:22       0

[5 rows x 35 columns]

In [79]:
test.head()

   id  d_l_match_yn  d_m_match_yn  ...  person_rn  contents_rn     contents_open_dt
0   0          True         False  ...     393790       236865  2020-12-01 02:24:18
1   1         False         False  ...     394058       236572  2020-12-17 05:42:53
2   2          True         False  ...    1002061       704612  2020-12-10 23:33:41
3   3          True         False  ...    1000813       704652  2020-12-03 19:44:55
4   4          True         False  ...     111146       704413  2020-12-11 21:24:34

[5 rows x 34 columns]

코드를 그대로 사용했습니다 : https://www.dacon.io/competitions/official/235863/codeshare/3877?page=1&dtype=recent

In [80]:
# 관련 코드들을 한번에 모델 돌리기 위해서
def add_code(df, d_code, h_code, l_code):
    df['person_prefer_d_1_n'] = df['person_prefer_d_1'].apply(lambda x: d_code[x]['속성 D 세분류코드'])
    df['person_prefer_d_1_s'] = df['person_prefer_d_1'].apply(lambda x: d_code[x]['속성 D 소분류코드'])
    df['person_prefer_d_1_m'] = df['person_prefer_d_1'].apply(lambda x: d_code[x]['속성 D 중분류코드'])
    df['person_prefer_d_1_l'] = df['person_prefer_d_1'].apply(lambda x: d_code[x]['속성 D 대분류코드'])

    df['person_prefer_d_2_n'] = df['person_prefer_d_2'].apply(lambda x: d_code[x]['속성 D 세분류코드'])
    df['person_prefer_d_2_s'] = df['person_prefer_d_2'].apply(lambda x: d_code[x]['속성 D 소분류코드'])
    df['person_prefer_d_2_m'] = df['person_prefer_d_2'].apply(lambda x: d_code[x]['속성 D 중분류코드'])
    df['person_prefer_d_2_l'] = df['person_prefer_d_2'].apply(lambda x: d_code[x]['속성 D 대분류코드'])

    df['person_prefer_d_3_n'] = df['person_prefer_d_3'].apply(lambda x: d_code[x]['속성 D 세분류코드'])
    df['person_prefer_d_3_s'] = df['person_prefer_d_3'].apply(lambda x: d_code[x]['속성 D 소분류코드'])
    df['person_prefer_d_3_m'] = df['person_prefer_d_3'].apply(lambda x: d_code[x]['속성 D 중분류코드'])
    df['person_prefer_d_3_l'] = df['person_prefer_d_3'].apply(lambda x: d_code[x]['속성 D 대분류코드'])

    df['contents_attribute_d_n'] = df['contents_attribute_d'].apply(lambda x: d_code[x]['속성 D 세분류코드'])
    df['contents_attribute_d_s'] = df['contents_attribute_d'].apply(lambda x: d_code[x]['속성 D 소분류코드'])
    df['contents_attribute_d_m'] = df['contents_attribute_d'].apply(lambda x: d_code[x]['속성 D 중분류코드'])
    df['contents_attribute_d_l'] = df['contents_attribute_d'].apply(lambda x: d_code[x]['속성 D 대분류코드'])

    # H Code
    df['person_prefer_h_1_l'] = df['person_prefer_h_1'].apply(lambda x: h_code[x]['속성 H 대분류코드'])
    df['person_prefer_h_1_m'] = df['person_prefer_h_1'].apply(lambda x: h_code[x]['속성 H 중분류코드'])
    
    df['person_prefer_h_2_l'] = df['person_prefer_h_2'].apply(lambda x: h_code[x]['속성 H 대분류코드'])
    df['person_prefer_h_2_m'] = df['person_prefer_h_2'].apply(lambda x: h_code[x]['속성 H 중분류코드'])
    
    df['person_prefer_h_3_l'] = df['person_prefer_h_3'].apply(lambda x: h_code[x]['속성 H 대분류코드'])
    df['person_prefer_h_3_m'] = df['person_prefer_h_3'].apply(lambda x: h_code[x]['속성 H 중분류코드'])

    df['contents_attribute_h_l'] = df['contents_attribute_h'].apply(lambda x: h_code[x]['속성 H 대분류코드'])
    df['contents_attribute_h_m'] = df['contents_attribute_h'].apply(lambda x: h_code[x]['속성 H 중분류코드'])

    # L Code
    df['contents_attribute_l_n'] = df['contents_attribute_l'].apply(lambda x: l_code[x]['속성 L 세분류코드'])
    df['contents_attribute_l_s'] = df['contents_attribute_l'].apply(lambda x: l_code[x]['속성 L 소분류코드'])
    df['contents_attribute_l_m'] = df['contents_attribute_l'].apply(lambda x: l_code[x]['속성 L 중분류코드'])
    df['contents_attribute_l_l'] = df['contents_attribute_l'].apply(lambda x: l_code[x]['속성 L 대분류코드'])

    drop_column = ['person_prefer_d_1','person_prefer_d_2','person_prefer_d_3','contents_attribute_d','person_prefer_h_1','person_prefer_h_2','person_prefer_h_3','contents_attribute_h','contents_attribute_l']

    for i in drop_column:
        df = df.drop(i, axis = 1)
    return df

train_data = add_code(train, D_code, H_code, L_code)
test_data = add_code(test, D_code, H_code, L_code)

print(train_data.shape)
print(test_data.shape)

(501951, 54)
(46404, 53)

In [81]:
train_data.head()

   id  d_l_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0   0          True  ...                    1605                    2016
1   1         False  ...                    1605                    2016
2   2         False  ...                    1572                    2016
3   3         False  ...                    1605                    2016
4   4          True  ...                    1605                    2016

[5 rows x 54 columns]

Warning: Total number of columns (54) exceeds max_columns (20) limiting to first (20) columns.

In [82]:
test_data.head()

   id  d_l_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0   0          True  ...                    1021                    2010
1   1         False  ...                    1605                    2016
2   2          True  ...                    1810                    2020
3   3          True  ...                      99                    2006
4   4          True  ...                     954                    2009

[5 rows x 53 columns]

## 필요가 없다고 생각되는 번호들 먼저 제거하고 다시 시작해보도록 하자.

In [ ]:
train_data.columns

In [84]:
drop_columns = ['contents_open_dt','contents_rn','person_rn','id']

train_data = train_data.drop(drop_columns, axis = 1)
test_data = test_data.drop(drop_columns, axis = 1)

In [85]:
train_data

        d_l_match_yn  ...  contents_attribute_l_l
0               True  ...                    2016
1              False  ...                    2016
2              False  ...                    2016
3              False  ...                    2016
4               True  ...                    2016
...              ...  ...                     ...
501946         False  ...                    2006
501947          True  ...                    2006
501948          True  ...                    2006
501949          True  ...                    2006
501950          True  ...                    2006

[501951 rows x 50 columns]

In [86]:
train_data

        d_l_match_yn  ...  contents_attribute_l_l
0               True  ...                    2016
1              False  ...                    2016
2              False  ...                    2016
3              False  ...                    2016
4               True  ...                    2016
...              ...  ...                     ...
501946         False  ...                    2006
501947          True  ...                    2006
501948          True  ...                    2006
501949          True  ...                    2006
501950          True  ...                    2006

[501951 rows x 50 columns]

## 간단한 모델링 이후 제출

In [87]:
#LGBM 사용해서 만들어 보기

from lightgbm import LGBMClassifier

X_train, y_train = train_data.drop('target', axis = 1), train_data['target']
X_test = test_data

model = LGBMClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

submission = pd.read_csv('/content/drive/MyDrive/데이콘/잡케어 추천 알고리즘/Data/sample_submission.csv')

In [88]:
submission['target'] = y_pred

submission.to_csv('/content/drive/MyDrive/데이콘/잡케어 추천 알고리즘/Data/sample_submission.csv', index = False)